/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body, html {
  height: 100%;
  margin: 0;
  color: white;
}


.bg {
  background-image: url(images/Eta_Carinae_1.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 48px;
  text-align: center;
}

form input {
  margin-bottom: 5px;
}


.mainPage, .questionPage, .correctPage, .incorrectPage, .finalPage {
  margin-top: 100px;
  padding: 100px 100px 100px 100px;
  background: rgba(252, 252, 252, .15);
  color: black;
  font-weight: bold;
} 
 
h2, p {
  text-align: center;
  font-size: 28px;
}

h1, h2 {
  padding-top: 20px;
}


.status, .score, .numberCorrect  {
  text-align: center;
  font-size: 24px;
}

.startButton, .continueButton, .startOver {
  width: 120px;
  text-align: center;
  margin: 0 auto;
}


.answerBox {
  width: fit-content;
  margin: 0 auto;
  font-size: 24px;
}

 

/*@media all and (min-width: 800px) {
  

}*/
  
