/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
main{
  color: white;
  background-image: url(images/etacarinae.jpg);
  height:
}

form input {
  margin-bottom: 5px;
}


.mainPage, .questionPage, .correctPage, .incorrectPage, .finalPage {
  color: white;
  padding: 100px;
} 
 
h1, h2, p {
  color: white;
  text-align: center;
}

h1, h2 {
  padding-top: 20px;
}


.status, .score, .numberCorrect  {
  text-align: center;
}

.startButton, .continueButton, .startOver {
  width: 120px;
  text-align: center;
  margin: 0 auto;
}


.answerBox {
  width: fit-content;
  margin: 0 auto;
}

 

/*@media all and (min-width: 800px) {
  

}*/
  
